*{
    text-decoration: none;
    margin: 0;
}

body{
  overflow-x: hidden;
}

.tnav{
  background-color: #111;
  height: 30px;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.tophead-left a{
  padding: 0 75px;
  line-height: 30px;
  text-decoration: none;
}

.tophead-right .head-links li{
  display: inline-block;
  border-right: 0.5px solid #000;
}

.head-links{
  padding-left: 52rem;
}

.head-links a{
  padding: 0 10px;
  line-height: 30px;
  text-decoration: none;
}



/****************************************TOP2 PART**********************************************************/
#cont{
    display: flex;
}

#cont .left{
    background-color:hwb(0 100% 0%);;
    width:10%;
}
#cont .left img{
  margin-top: 20px;
  height: 160px;
  width: 150px;
}

#cont .mid{
    width:80%; 
}
#cont .mid .header {
  background-color: hwb(0 100% 0%);
  text-align: center;
  padding-bottom: 40px;
  padding-top: 30px;
  
}
#cont .header h1{
  color:#ff000d;
  font-weight: bolder;
  font-size: 48px;
  padding-top: 5px;
}
/* The navbar container */
.topnav {
  overflow: hidden;
  /* background-color: #0338AD; */
  background-image: linear-gradient(to right,rgb(2, 2, 56), rgb(39, 187, 224));
  display: flex;
  justify-content: space-around;
}   
/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: hwb(0 100% 0%);
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  
} 

/* Links - change color on hover */
.topnav a:hover {
  background-color: rgb(230, 239, 241);
  color: black;
}


#cont .right{
    background-color: hwb(0 100% 0%);;
    width:10%;
}


  
   .login button{
    width: 100%;
    align-items: center;
    margin-top: 5px;
    margin-left: 2px;
    background-color: rgb(2, 2, 56);
    color: white;
    border: none;
  }

  .register button{
    width: 100%;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
    background-color: rgb(2, 2, 56);
    color: white;
    border: none;
    
  }
  
  .right .fund-raiser button{
    width: 100%;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
    background-color: rgb(2, 2, 56);
    color: white;
    border: none;
  }

  .right .call-us button{
    font-size: 23px;
    position: relative;
    left: 40px;
    top: 17px;
    text-decoration: none;
    font-weight: bold;
    background-color: red;
  }


/********************************************************************************/
  
/*BLOG STYLING*/ 
#middlec{
  display: flex;    
}
#middlec .side1{
  width: 18%;
   background-image: linear-gradient(to bottom,rgb(39, 187, 224), rgb(2, 2, 56));  
  padding-top:20px;
  
}
#middlec .side1 h2,p{
  text-align: center;  
}
#middlec .side1 button{
  position: relative;
  left:60px;
  margin:20px;
  height: 40px;
  width: 80px;
  padding-left: 9px;
  background-color: red;
  color: white;
}

#middlec .side1 img{
  padding-top: 25px;
  padding-bottom:25px;
  position: relative;
  left:20px;
  height: 300px;
  width: 200px;
}

#middlec .blog{
  width: 65%;
  align-items: center;
}

/*****************---------------CARDS-----------------********************/
.column {
  float: left;
  width: 30%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin-top:40px;
  position:relative;
  left:50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  height: 100%;
  text-align: center;
  background-color: #f1f1f1;
}

/*************---------CARDS END-----------------************/
.blog p{
  text-align: center;
  padding: 40px;
  font-weight: bold;
}
#middlec .side2{
  width: 18%;
   background-image: linear-gradient(to bottom,rgb(39, 187, 224), rgb(2, 2, 56)); 
  align-items: center;
  padding: 20px;
}


 
 /*****************************FOOTER**********************************************************/

 .bg-footer {
  background-color: #111;
  padding: 50px 0 30px;
}
.footer-heading {
  letter-spacing: 2px;
}

.footer-link a {
  color: #acacac;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s;
}

.footer-link a:hover {
  color: #1bbc9b;
}

.contact-info {
  color: #acacac;
  font-size: 14px;
  position: relative;
  right: 100px;
}
.footer-contact{
  position: relative;
  left: 60px;
}
.footer-social-icon {
  padding-top: 5px;
  font-size: 25px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
}

.facebook {
  background-color: #4e71a8;
  color: #ffffff;
}

.twitter {
  background-color: #55acee;
  color: #ffffff;
}

.google {
  background-color: #d6492f;
  color: #ffffff;
}


.footer-alt {
  color: #acacac;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
}

.footer-heading:after {
  content: '';
  width: 25px;
  border-bottom: 1px solid #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #1bbc9b;
}
 
#scrollUpBtn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 35px;
  height: 35px;
  background-color: orange;
  color: #33383c;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  visibility: hidden;
  opacity: 0; 
  transition: 0.8s;
}

#scrollUpBtn.active {
  visibility: visible;
  opacity: 1; 
}
